2TextToSpeechFlow.json
[{"id":"895057a4.2917b","type":"watson-text-to-speech","z":"a9f32ae8.a1003","name":"","lang":"en-GB","langhidden":"en-GB","langcustomhidden":"","voice":"en-GB_KateVoice","voicehidden":"","format":"audio/wav","password":"WJFbnTX6ZKat","x":487,"y":730,"wires":[["14ead3e.09fbf2c"]]},{"id":"88254212.69d95","type":"inject","z":"a9f32ae8.a1003","name":"Angry feedback","topic":"","payload":"it's really horrendous how badly these nodes are documented - There is absolutely no way any body can follow that! Infuriating!","payloadType":"str","repeat":"","crontab":"","once":false,"x":284,"y":728,"wires":[["895057a4.2917b"]]},{"id":"ac42c560.d5cad","type":"inject","z":"a9f32ae8.a1003","name":"Happy feedback","topic":"","payload":"These new nodes are awesome! I love the way they are used in the new flows!","payloadType":"str","repeat":"","crontab":"","once":false,"x":284,"y":692,"wires":[["895057a4.2917b"]]},{"id":"14ead3e.09fbf2c","type":"function","z":"a9f32ae8.a1003","name":"set payload","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":699,"y":722,"wires":[["7db5ddbb.623724"]]},{"id":"7db5ddbb.623724","type":"play audio","z":"a9f32ae8.a1003","name":"","x":858.3332939147949,"y":722,"wires":[]}]