3SpeechToTextFlow.json
[{"id":"95232c83.8d6bc","type":"microphone","z":"a9f32ae8.a1003","name":"","x":281,"y":775,"wires":[["9b7b791c.eec5d8"]]},{"id":"9b7b791c.eec5d8","type":"watson-speech-to-text","z":"a9f32ae8.a1003","name":"","continuous":true,"speakerlabels":false,"lang":"en-US","langhidden":"en-US","langcustomhidden":"","band":"BroadbandModel","bandhidden":"","password":"JWHNEB7WtesB","x":479,"y":774,"wires":[["9257c8cf.ce361"]]},{"id":"9257c8cf.ce361","type":"function","z":"a9f32ae8.a1003","name":"set payload","func":"msg.payload = msg.transcription;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":687,"y":774,"wires":[["1019faed.4ff9a5"]]},{"id":"1019faed.4ff9a5","type":"debug","z":"a9f32ae8.a1003","name":"","active":true,"console":"false","complete":"false","x":909,"y":775,"wires":[]}]
