4ToneAnalyzerFlow.json
[{"id":"1019faed.4ff9a5","type":"debug","z":"a9f32ae8.a1003","name":"","active":true,"console":"false","complete":"payload","x":1112,"y":1095,"wires":[]},{"id":"b61f1c36.2105b","type":"watson-tone-analyzer-v3","z":"a9f32ae8.a1003","name":"","tones":"emotion","sentences":"false","contentType":"false","x":757,"y":1099,"wires":[["a28d09d0.d557c8"]]},{"id":"a28d09d0.d557c8","type":"function","z":"a9f32ae8.a1003","name":"set payload","func":"msg.payload = msg.response;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":942,"y":1098,"wires":[["1019faed.4ff9a5"]]}]