6TotalSolutionFlow.json
[{"id":"7250d622.8602b8","type":"watson-text-to-speech","z":"352c0780.b95208","name":"","lang":"en-GB","langhidden":"en-GB","langcustomhidden":"","voice":"en-GB_KateVoice","voicehidden":"","format":"audio/wav","password":"","x":439,"y":555,"wires":[["377213c0.09073c"]]},{"id":"b5f82e50.9a552","type":"microphone","z":"352c0780.b95208","name":"","x":75,"y":869,"wires":[["4e606ba5.02b394"]]},{"id":"4e606ba5.02b394","type":"watson-speech-to-text","z":"352c0780.b95208","name":"","continuous":true,"speakerlabels":false,"lang":"en-US","langhidden":"en-US","langcustomhidden":"","band":"BroadbandModel","bandhidden":"","password":"","x":279,"y":877,"wires":[["b4ceda41.0cb748"]]},{"id":"b4ceda41.0cb748","type":"function","z":"352c0780.b95208","name":"set payload","func":"msg.payload = msg.transcription;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":484,"y":882,"wires":[["27d94901.df3036","17972e9e.157af1"]]},{"id":"c99fc637.bb0cc8","type":"debug","z":"352c0780.b95208","name":"","active":true,"console":"false","complete":"payload","x":1013,"y":951,"wires":[]},{"id":"60845e1e.c0903","type":"inject","z":"352c0780.b95208","name":"Angry feedback","topic":"","payload":"it's really horrendous how badly these nodes are documented - There is absolutely no way any body can follow that! Infuriating!","payloadType":"str","repeat":"","crontab":"","once":false,"x":185,"y":584,"wires":[["7250d622.8602b8"]]},{"id":"75c775c1.a529bc","type":"inject","z":"352c0780.b95208","name":"Happy feedback","topic":"","payload":"Thes new nodes are awesome! I love the way they are used in the new flows!","payloadType":"str","repeat":"","crontab":"","once":false,"x":185,"y":548,"wires":[["7250d622.8602b8"]]},{"id":"377213c0.09073c","type":"function","z":"352c0780.b95208","name":"set payload","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":633,"y":539,"wires":[["dd0f57be.443cf8"]]},{"id":"dd0f57be.443cf8","type":"play audio","z":"352c0780.b95208","name":"","x":813.3333129882812,"y":541,"wires":[]},{"id":"27d94901.df3036","type":"watson-tone-analyzer-v3","z":"352c0780.b95208","name":"","tones":"emotion","sentences":"false","contentType":"false","x":658,"y":955,"wires":[["89f84ce4.1196","d40cc785.305958"]]},{"id":"2688aaba.d7c166","type":"function","z":"352c0780.b95208","name":"set payload ","func":"/*output=msg.payload;\nmsg.payload = {};\nmsg.payload.output = {text: [output]}\nmsg.payload.context={twitter: {handle:\"@lindacmgross1\",DM:true}}\nnode.warn(msg.payload.context);\n*/\nnode.warn(\"Conversation output is:\\n\" + JSON.stringify(msg.payload))\n\nif (msg.payload.output && msg.payload.output.text) {\n output = msg.payload.output.text.join(' ');\n \n}\n\nnode.warn(\"Cleaned conversation output: \\n\" + output)\nmsg.payload = output;\nnode.send(msg);","outputs":"1","noerr":0,"x":729.4398193359375,"y":703.4073486328125,"wires":[["7250d622.8602b8"]]},{"id":"89f84ce4.1196","type":"function","z":"352c0780.b95208","name":"set payload","func":"msg.payload = msg.response;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":843,"y":980,"wires":[["c99fc637.bb0cc8"]]},{"id":"17972e9e.157af1","type":"debug","z":"352c0780.b95208","name":"","active":true,"console":"false","complete":"false","x":673,"y":879,"wires":[]},{"id":"d40cc785.305958","type":"function","z":"352c0780.b95208","name":"add emotion to context","func":"var emotions = [];\nvar threshold = 0.5;\nvar topemotion ='';\n\n// simplify object returned by tone analyser to only the emotion tones\nemotions = msg.response.document_tone.tone_categories\n .filter(function(c){\n if (c.category_id == \"emotion_tone\")\n {return c; }\n })[0].tones;\n \n\nnode.warn(\"Detected tones: \\n\" + JSON.stringify(emotions));\n\n// find highest score and return that tone name, if that score is greater than the threshold\ntopemotion = emotions.reduce(function(a, b){ return a.score > b.score ? a : b; });\n\nif (topemotion.score > threshold) {\n topemotion = topemotion.tone_name;\n} else {\n topemotion = \"neutral\";\n}\n\n\n// add top emotion to conversation context\nmsg.additional_context = { emotion: topemotion };\n\nnode.warn(\"Emotion added to conversation context:\\n \" + topemotion); \n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":347,"y":719,"wires":[["def7f6c2.360ee8"]]},{"id":"def7f6c2.360ee8","type":"watson-conversation-v1","z":"352c0780.b95208","name":"","workspaceid":"","multiuser":false,"context":true,"x":563,"y":709,"wires":[["2688aaba.d7c166"]]}]