6TotalSolutionFlow.json
[{"id":"895057a4.2917b","type":"watson-text-to-speech","z":"a9f32ae8.a1003","name":"","lang":"en-GB","langhidden":"en-GB","langcustomhidden":"","voice":"en-GB_KateVoice","voicehidden":"","format":"audio/wav","password":"WJFbnTX6ZKat","x":538,"y":699,"wires":[["14ead3e.09fbf2c"]]},{"id":"95232c83.8d6bc","type":"microphone","z":"a9f32ae8.a1003","name":"","x":174,"y":1013,"wires":[["9b7b791c.eec5d8"]]},{"id":"9b7b791c.eec5d8","type":"watson-speech-to-text","z":"a9f32ae8.a1003","name":"","continuous":true,"speakerlabels":false,"lang":"en-US","langhidden":"en-US","langcustomhidden":"","band":"BroadbandModel","bandhidden":"","password":"JWHNEB7WtesB","x":378,"y":1021,"wires":[["9257c8cf.ce361"]]},{"id":"9257c8cf.ce361","type":"function","z":"a9f32ae8.a1003","name":"set payload","func":"msg.payload = msg.transcription;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":583,"y":1026,"wires":[["b61f1c36.2105b","ca8d1caa.a7de5"]]},{"id":"1019faed.4ff9a5","type":"debug","z":"a9f32ae8.a1003","name":"","active":true,"console":"false","complete":"payload","x":1112,"y":1095,"wires":[]},{"id":"88254212.69d95","type":"inject","z":"a9f32ae8.a1003","name":"Angry feedback","topic":"","payload":"it's really horrendous how badly these nodes are documented - There is absolutely no way any body can follow that! Infuriating!","payloadType":"str","repeat":"","crontab":"","once":false,"x":284,"y":728,"wires":[["895057a4.2917b"]]},{"id":"ac42c560.d5cad","type":"inject","z":"a9f32ae8.a1003","name":"Happy feedback","topic":"","payload":"Thes new nodes are awesome! I love the way they are used in the new flows!","payloadType":"str","repeat":"","crontab":"","once":false,"x":284,"y":692,"wires":[["895057a4.2917b"]]},{"id":"14ead3e.09fbf2c","type":"function","z":"a9f32ae8.a1003","name":"set payload","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":732,"y":683,"wires":[["7db5ddbb.623724"]]},{"id":"7db5ddbb.623724","type":"play audio","z":"a9f32ae8.a1003","name":"","x":912.3333129882812,"y":685,"wires":[]},{"id":"b61f1c36.2105b","type":"watson-tone-analyzer-v3","z":"a9f32ae8.a1003","name":"","tones":"emotion","sentences":"false","contentType":"false","x":757,"y":1099,"wires":[["a28d09d0.d557c8","550407c4.9d6ec8"]]},{"id":"96955780.7923b","type":"function","z":"a9f32ae8.a1003","name":"set payload ","func":"/*output=msg.payload;\nmsg.payload = {};\nmsg.payload.output = {text: [output]}\nmsg.payload.context={twitter: {handle:\"@lindacmgross1\",DM:true}}\nnode.warn(msg.payload.context);\n*/\nnode.warn(\"Conversation output is:\\n\" + JSON.stringify(msg.payload))\n\nif (msg.payload.output && msg.payload.output.text) {\n output = msg.payload.output.text.join(' ');\n \n}\n\nnode.warn(\"Cleaned conversation output: \\n\" + output)\nmsg.payload = output;\nnode.send(msg);","outputs":"1","noerr":0,"x":828.4398193359375,"y":847.4073486328125,"wires":[["895057a4.2917b"]]},{"id":"a28d09d0.d557c8","type":"function","z":"a9f32ae8.a1003","name":"set payload","func":"msg.payload = msg.response;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":942,"y":1124,"wires":[["1019faed.4ff9a5"]]},{"id":"ca8d1caa.a7de5","type":"debug","z":"a9f32ae8.a1003","name":"","active":true,"console":"false","complete":"false","x":772,"y":1023,"wires":[]},{"id":"550407c4.9d6ec8","type":"function","z":"a9f32ae8.a1003","name":"add emotion to context","func":"var emotions = [];\nvar threshold = 0.5;\nvar topemotion ='';\n\n// simplify object returned by tone analyser to only the emotion tones\nemotions = msg.response.document_tone.tone_categories\n .filter(function(c){\n if (c.category_id == \"emotion_tone\")\n {return c; }\n })[0].tones;\n \n\nnode.warn(\"Detected tones: \\n\" + JSON.stringify(emotions));\n\n// find highest score and return that tone name, if that score is greater than the threshold\ntopemotion = emotions.reduce(function(a, b){ return a.score > b.score ? a : b; });\n\nif (topemotion.score > threshold) {\n topemotion = topemotion.tone_name;\n} else {\n topemotion = \"neutral\";\n}\n\n\n// add top emotion to conversation context\nmsg.additional_context = { emotion: topemotion };\n\nnode.warn(\"Emotion added to conversation context:\\n \" + topemotion); \n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":446,"y":863,"wires":[["186c4804.cc4af8"]]},{"id":"186c4804.cc4af8","type":"watson-conversation-v1","z":"a9f32ae8.a1003","name":"","workspaceid":"70aea7a1-c3ab-483b-9e1c-098b29ed42ea","multiuser":false,"context":true,"x":662,"y":853,"wires":[["96955780.7923b"]]}]